@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Nunito, sans-serif;
  background: #f5f6f7;
}

main {
  max-width: 35rem;
  margin: auto;
  padding: 2rem 1rem;
}

main > h1 {
  text-align: center;
}

.formContainer {
  margin: 2rem auto;
  padding: 1rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.formContainer input, select {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
  border: 1px solid #00b8e6;
  border-radius: 10px;
  outline: none;
}

.formContainer input {
    width: 25rem;
}

.formContainer select {
    width: 26rem;
}

.formContainer button, .container button {
  width: 16rem;
  padding: 0.7rem;
  border: 1px solid #00b8e6;
  background: #00b8e6;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.formContainer button:hover, .container button:hover{
  background: #0093b8;
}

.formContainer button:disabled {
  background: #d8d8d8;
  border: 1px solid #d8d8d8;
  cursor: not-allowed;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
}

.container:not(:last-child) {
  border-bottom: 2px solid #f5f6f7;
}

.container h1 {
  color: #d34b4b;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.7rem;
}

.container div {
  padding-right: 1rem;
  color: #444;
}

.container .fa-plane {
  color: #222;
  margin: 0.2rem;
}

.container .fa-edit {
  color: #00b8e6;
  margin: 0.2rem;
}

.container .fa-edit:hover {
  color: #0093b8;
}

.container .fa-trash-alt {
  color: #d34b4b;
  margin: 0.2rem;
}

.container .fa-trash-alt:hover {
  color: #e06a6a;
}